.navBar--nav{
    background:black;
    color:white; 
    padding:10px;
    justify-content:center;
    align-items:center;
    display:flex;
    flex-direction:column;

}
.navBar--a{
    display:flex;
    flex:2;
    margin-left:10px;
  text-align: center;
  flex-direction:row;
  justify-content:space-around;
align-items:center;
}
a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
a:hover{
    border-bottom:1px solid white;

}
.navbar--search{
    flex:1;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap
}
.card--div{
 
    border-radius:5px;
    display:flex;
        flex-direction:column;
        justify-content:flex-start;
        border:1px solid white;
        overflow:hidden;
        margin:5px;
        flex-grow: 1;
	flex-shrink: 0;
	
}
@media only screen and (min-width: 800px) {
.navBar--nav{
    flex-direction: row;
}
.navBar--a{
    text-align: left;
}
}
